<h2>Bands</h2>
<ul class="bands">
  <li *ngFor="let band of bands"
    [class.selected]="band === selectedBand"
    (click)="onSelect(band)">
    <span class="badge">{{band.id}}</span> {{band.name}}
  </li>
</ul>

<div *ngIf="selectedBand">

  <h2>{{selectedBand.name | uppercase}} Details</h2>
  <div><span>id: </span>{{selectedBand.id}}</div>
  <div><span>name: </span>{{selectedBand.name}}</div>
  <div><span>genre: </span>{{selectedBand.genre}}</div>
  <div *ngIf="selectedBand.catalogue.length"><span>catalogue: </span>
    <ul *ngFor="let a of selectedBand.catalogue">
      <li class="catalogue">{{a.name}}, {{a.year}}</li>
    </ul>
  </div>
  </div>